.userProfile_wrapper{
    margin: 0 auto;
    display: flex;
    background-color: var(--bodyColor);
    flex-direction: column;
    align-items: center;
    width: 58.5vw;
}
.coverPic{
    background-color: royalblue;
    border-radius: 1vw;
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer ;
    height: 43.2vh;
}
.profilePicture{
    border-radius: 50%;
    width: 11vw;
    margin-top: -10.5vw;
    height: 11.5vw;
    cursor: pointer;
    border: .5vh solid whitesmoke;
}
.usernames{
    margin-top: 0vw;
    font-weight: bolder;
    font-size: 2.5vw;
}
.userTabs{
    border-bottom: .2vw solid var(--borderColor);
    align-items: center;
    display: flex;
    padding: 0 1vw .2vw 1vw;
    flex-direction: row;
    width: inherit;
}
.UAbtab, .petEditbtn, .updateBtn , .addPetbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 6vw;
    border: .15vw solid var(--borderColor);
    justify-content: center;
    padding: .5vw 1vw;
    margin-right: 1.5vw;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}
.UAbtab:hover, .pet-info:hover, .petEditbtn:hover, .UAbtab.info, .UAbtab.friend, .UAbtab.post, .UAbtab.pets, .updateBtn:hover, .addPetbtn:hover{
    background-color: var(--primaryColor1);
    border-color: var(--primaryColor);
    transition: 0.45s all ease-in-out;
    border-radius: .7vw;
    color: var(--tertiaryColor);
}
.iconTab{
    font-size: 1.45vw;
    margin: 0;
}
.nameTab{
    margin: 0 .2vw;
    font-size: 1.1vw;
    font-weight: 600;
}
.Wrapper{
    display: none;
    width: inherit;
    position: absolute;
    flex-direction: column;
    min-height: 45vh;
    align-items: flex-start;
    margin: 65vh 0 0 0;
    padding-bottom: 10vh;
    justify-content: flex-start;
    z-index: 1;
}
.basicInfo{
    border-color: var(--primaryColor);
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
.titleBasic{
    font-size: 1.4vw;

}
.contactInfo{
    margin: 0 0 1vw 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.infoIcon{
    font-size: 1.5vw;
    color: var(--primaryColor);
    margin: 0;
}
.infoLabel{
    font-size: 1.1vw;
    font-weight: 600;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-start;
}
.infoVal{
  font-size: 1.01vw;
  border: none;
  outline: none;
  background-color: transparent;
  padding: .5vh;
  width: 11vw;
}
.Wrapper.info, .Wrapper.post,  .Wrapper.friend, .Wrapper.pet, .show{
    display: flex;
}
.pet-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    margin-bottom: 3vh;
    cursor: pointer;
    max-height: 30vw;
    height: 22  vw;
    border: .25vh solid var(--borderColor);
    padding: 1vh;
    transition: 450ms all ease-in-out;
}
.petProfile{
    width: 19vw;
    max-height: 29vw;
    border-radius: .4vw;
}
.petDetails{
    display: flex;
    margin-left: 2vh;
    margin-bottom: .5vh;
    flex-direction: column;
}
.petdeta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    margin-bottom: 1vh;
}
.petEditbtn{
    width: 5vw;
    outline: none;
    font-size: .85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    background-color: var(--bodyColor);
    font-weight: 600;
    margin: -34vh 0 0 52.3vw;
    height: 5vh;
}

.petdettitle{
    margin: 0;
    color: var(--primaryColor);
    font-size: 2.8vh;
}
.petEdit-wrapper{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .8);
}
.petEdit-wrapper.show{
    display: flex;
}
.pet-edit{
    box-shadow: -5px 8px 25px 2px #c8c7d1;
    background-color: var(--secondaryColor);
    text-align: center;
    width: 65vw;
    height: 65vh;
    border-radius: 1vw;
    color: var(--tertiaryColor);
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.petEdi-rapper{
    padding-top: 4vh;
    display: flex;
flex-direction: row;
align-items: baseline;
}
.petEdit-head{
    position: absolute;
    font-weight: 600;
    display: flex;
    font-size: 2.4vw;
    color: var(--primaryColor);
    padding-top: 1vw;
    justify-self: flex-start;
    align-self: flex-start;
}
.closeEdit{
    color: var(--primaryColor);
    display: flex;
    justify-content: center;
    position: fixed;
    border-radius: 50%;
    font-size: 2.4vw;
    right: 18.75vw;
    border: .3vh solid var(--primaryColor);
    padding: .5vh;
    transition: 450ms all ease-in-out;
    top: 19.5vh;
    user-select: none;
}
.closeEdit:hover{
    color: var(--borderColor);
    transition: 450ms all ease-in-out;
    border-color: var(--borderColor);
}
.updateBtn{
    position: absolute;
    width: 15vw;
    margin-top: 25vw;
    font-size: 1.5vw;
    background-color: var(--bodyColor);
    font-weight: 600;

}

.ediet{
    background-color: var(--bodyColor);
    border: .25vh solid var(--borderColor);
    }
    .ediet:hover{
        border-radius: .3vw;
        transition: 450ms all ease-in-out
        ;
        border-color: var(--primaryColor);
    }
 .Ediet__control{
    height: 3vh;
    width: 11.8vw;
}
.selecta{
    width: 11.7vw;
}
.txtAreVit{
    resize: none;
    overflow: auto;
    outline: none;
    border: none;
    font-family: var(--primaryFont);
    background-color: transparent;
    font-size: .86vw;
  padding: .5vh;
  width: 11vw;
  display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dela{
    margin-top: -11vw;
}
.dela:hover{
    color: var(--failColor);
    border-color: var(--failColor);
}
.addPetbtn{
    margin: 0.3vw 0 0 50.5vw;
    position: absolute;
    background-color: var(--bodyColor);
    width: 8vw;
    height: 3vw;
    font-family: var(--primaryFont);
    font-weight: 600;
font-size: 1.2vw;
}
.hid{
    display: none;
}
.newpetupo{
    margin: 20vw auto 0 2.5vw;
}
.asterisk{
    color: red;
    width: 1vh;
    margin-left: .2vh;
}