.New_post{
    background-color: var(--secondaryColor);
    border-radius: .4vw;
    padding: 1.25vw 3vw;
}
.user_post, .btton_post{
    display: flex;
    height: 3.4vw;
    justify-content: center;
    margin-bottom: .3vw;
    flex-direction: row;
    align-items: center;
}
.iconUserPost{
    display: flex;
    flex-direction: column;
    background-color:#fff;
    padding : .2vw;
    border: .1vh solid var(--borderColor);
    width: 2.8vw;
    border-radius: 50%;
    user-select: none;
    cursor:  pointer;
    height: 2.7vw;
}
.inputUserPost{
    width: 85%;
    height: 3vh;
    margin: auto 0 auto .5vw;
    font-size: 1.05vw;
    outline: none;
    border-radius: 5vh;
    padding: .6vw 1vw;
    cursor: text;
    border: .2vh solid var(--borderColor);
}
.btnss{
    display: flex;
    width: 20vw;
    padding-top: .6vw;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btton_post{
    border-top: .25vh solid var(--borderColor);
}
.btnIcon{
font-size: 1.5vw;
}
.btnLabel{
    font-size: 1.1vw;
}
.postbutt{
    display: flex;
    height: 6vh;
    margin: 0;
    width: 13vw;
    font-weight: 600;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: .3vh solid var(--borderColor);
}
.postbutt:hover{
    border: .3vh solid var(--primaryColor);
    background-color: var(--primaryColor1);
    border-radius: .7vw;
    transition: 450ms all ease-in-out;
}
.postingDiv{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1;
    padding: 1vw;
    border-radius: 1vw;
    margin: -16.5vh 0 0 -1.55vw;
    background-color: var(--secondaryColor);
    border: .2vh solid var(--borderColor);
    height: 30vw; 
    width: 45vw; 
}
.blocker{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.postingDiv.hide, .blocker.hide{
    display: flex;
}
.postInput{
    display: flex;
    flex-direction: row;

}
.textAPostt{
    outline-color: var(--primaryColor);
    resize: none;
    overflow-y:auto;
    padding: .5vw;
    margin-left: 1vw;
    width: 39.4vw;
    height: 20vh;
    font-family: var(--primaryFont);
    font-size: 1.05vw;
}