.posting{
    width: 100%;
    display: flex;   
    margin: auto;
    height: 45vw;
    margin: -2vw auto 2vw auto;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
}   
.imdad{
    padding:0  13vw;
}